.footer {
    background-color: yellow;
    float: left;
    padding: 40px 20% 10px 20%;
    background-color: #121111;
    color: #e4dec6;
    box-sizing: border-box;
    width: 100%;
    box-shadow: 0px 0px 20px -7px rgba(0,0,0,0.75);
}

.FooterTitle {
    font-family: NunitoBold;
    font-size: 25px;
}

.aboutUs {
    font-family: Nunito;
    font-size: 14px;
    box-sizing: border-box;
    padding: 30px;
    text-align: justify;
    width: 60%;
    float: left;
}

.socialMedias {
    font-family: Nunito;
    box-sizing: border-box;
    padding: 30px;
    width: 40%;
    float: left;
}

.fa {
    transition: 0.3s;
    color: #e4dec6;
    font-size: 30px;
    padding: 10px;
    padding-left: 0px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
}

.fa:hover {
    color:#e4dec683;
}

.copyright {
/*     box-shadow: 0px 0px 34px 0px rgba(0,0,0,0.75); */
    font-family: Nunito;
    color: #ccddff;
    background-color: #0e0d0d;
    box-sizing: border-box;
    padding: 20px;
    text-align: center;
    width: 100%;
    float: left;
}

.link {
    color: #fff9df;
    text-decoration: none;
}

@media screen and (max-width:799px){

    .title {
        text-align: center;
    }

    .iconsMedias {
        text-align: center;
    }

    .footer {
        padding: 0% 10%;
    }
    
    .aboutUs {
        width: 100%;
    }

    .socialMedias {
        width: 100%;
    }
}