.h1Title {
    font-family: NunitoBold;
    font-size: 30px;
    margin: 1%;
    display: block;
}.categorie1, .categorie2 {
    border-style: solid;
    border-width: 1px;
    border-color: #ceccc6;
}
.categorie1 {
    display: inline-block;
    border-radius: 20px;
    width: 48%;
    margin: 1%;
    max-height: 0;
    padding-bottom: 30%;
    box-sizing: border-box;
}.imgboxCategorie1 {
    width: 100%;
    height: 0px;
    position: relative;
    float: right;
    padding-bottom: 63%;
}.imgCategorie1 {
    object-fit: cover;
    bottom: 0px;
    right: 0px;
    position: absolute;
    border-radius: 0 0 20px 0;
}.imgCategorie1:hover {
    height: 110%;
}.categorie2 {
    display: inline-block;
    border-radius: 20px;
    width: 23%;
    margin: 1%;
    box-sizing: border-box;
}.titleCategorie1, .titleCategorie2 {
    font-size: 15px;
    padding: 10px;
    font-family: 'NunitoExtraBold';
    border-radius: 20px;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    border-color: #ceccc6;
    background-color: #ebe9e37e;
    color: rgb(75, 75, 75);
    backdrop-filter: blur(5px);
    position: absolute;
}.titleCategorie1 {
    bottom: 0px;
    margin: 3%;
    width: 110px;
}.titleCategorie2 {
    margin: 5%;
    box-sizing: border-box;
    bottom: 0px;
    width: 90%;
}.imgboxCategorie2 {
    width: 100%;
    height: 0px;
    position: sticky;
    float: right;
    padding-bottom: 100%;
}.imgCategorie2 {
    object-fit: cover;
    bottom: 0px;
    right: 0px;
    position: absolute;
    border-radius: 0 0 20px 0;
}
.imgCategorie1, .imgCategorie2 {
    transition:0.3s;
    height: 105%;
}
.imgCategorie1:hover, .imgCategorie2:hover {
    height: 110%;
}

.grid {
    font-size: 0;
}

.product {
    width: 23%;
    padding-bottom: 40%;
    margin: 1%;
    border-radius: 20px;
    display: inline-block;
    position: relative;
    box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.48);
    transition: 0.3s;
}

.likeButton {
    width: 25%;
    padding-bottom: 25%;
    max-height: 0;
    position: absolute;

    background-image: url(../images/heart.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 45%;
    transition:0.3s;
    opacity: 0.5;
}

.likeButton:hover {
    background-image: url(../images/heartFilled.png);
}

.product:hover {
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.48);
}

.productImage {
    width: 100%;
    height: 65%;
    position: absolute;
    border-radius: 20px 20px 0 0;
}

.productImg {
    border-radius: 20px 20px 0 0;
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.productInfo {
    background-color: #cac2a6;
    width: 100%;
    height: 40%;
    position: absolute;
    bottom: 0;
    border-radius: 20px;
}

.productName {
    font-size: 14px;
    font-family: Nunito;
    color: black;
    width: 100%;
    height: 60%;
    display: block;
    box-sizing: border-box;
    overflow: hidden;
    padding: 5%;
    cursor: pointer;
}

.productPrice {
    color: black;
    width: 100%;
    text-align: center;
    display: block;
    padding: 5%;
    overflow: hidden;
    box-sizing: border-box;
    height: 40%;
    cursor: pointer;
}

.minorPrice {
    font-size: 12px;
    font-family: 'Nunito';
    margin: 0 3px;
    font-family: Nunito;
}

.plusPrice {
    font-size: 20px;
    font-family: NunitoBold;
}

.slide {
    display: none
}

.slideshowBox{
    background-color: #838383;
    position: relative;
    margin: auto;
    width: 70%;
    display: flex;
    overflow: hidden;
    transition: 0.3s;
    border-radius: 20px;
}

.slide {
    width: 100%;
    padding-bottom: 40%;
    height: 0;
}
 
.imge {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    vertical-align: middle;
}

.leftButton, .rightButton {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 28px;
    background-color: rgba(0, 0, 0, 0.096);
    cursor: pointer;
    position: absolute;
    padding: 0px 3%;
    color: white;
    transition: 0.3s;
    height: 50%;
    opacity: 0.3;
    top:25%;
}

.leftButton:hover, .rightButton:hover {
    background-color: rgba(0, 0, 0, 0.548);
    opacity: 1;
}

.rightButton {
    border-radius: 15px 0 0 15px;
    background-image: url(../images/arrowRight.png);
    right: 0;
}

.leftButton {
    border-radius: 0 15px 15px 0;
    background-image: url(../images/arrowLeft.png);
    left: 0;
}

.dotBox {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.dot {
    cursor: pointer;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    display: inline-block;
    transition: 0.3s;
}
  
.dotActive, .dot:hover {
    background-color: black;
}

.anim {
    animation-name: anim;
    animation-duration: 0.5s;
}
  
@keyframes anim {
    from {
        opacity:0.8;
    } 
    to {
        opacity: 1;
    }
}

@media screen and (max-width:799px) {
    .titleCategorie1 {
        padding: 5px;
        width: 100px;
    }
    .titleCategorie2 {
        padding: 4px 0px;
        font-size: 11px;
    }
    .product {
        width: 31%;
        padding-bottom: 50%;
    }
    .productName {
        font-size: 12px;
    }
    .minorPrice {
        font-size: 10px;
        font-family: 'Nunito';
        margin: 0 3px;
        font-family: Nunito;
    }
    .plusPrice {
        font-size: 15px;
        font-family: NunitoBold;
    }
    .slideshowBox {
        margin: 2%;
        width: 96%;
    }

    .leftButton, .rightButton {
        padding: 0px 4%;
        height: 100%;
        top:0%;
    }

    .dot {
        height: 4px;
        width: 4px;
        border-width: 1.5px;
    }

    .leftButton:hover, .rightButton:hover {
        background-color: rgba(0, 0, 0, 0.096);
    }
}

@media (min-width:800px) and (max-width:1030px) {
    .likeButton {
        background-size: 80%;
    }

    .productName {
        font-size: 12px;
    }

    .minorPrice {
        font-size: 10px;
        font-family: 'Nunito';
        margin: 0 3px;
        font-family: Nunito;
    }
    
    .plusPrice {
        font-size: 13px;
        font-family: NunitoBold;
    }
}