.title {
    font-family: NunitoExtraBold;
    font-size: 24px;
    color: white;
    margin: 1%;
    display: block;
}

.item {
    width: 98%;
    margin: 1%;
    border-radius: 20px;
    background-color: #202020;
    position: relative;
    padding: 20px;
    box-sizing: border-box;
    display: inline-block;
    overflow: hidden;
}

.item p {
    font-family: Nunito;
    font-size: 14px;
    color: white;
    margin: 1%;
}

.slide {
    border-radius: 20px;
    width: 31%;
    display: inline-block;
    position: relative;
    margin: 1%;
    transition: 0.1s;
}

.slide img {
    width: 100%;
    border-radius: 20px;
}

.hoverContent {
    transition: 0.3s;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    display: flex;
}

.slide:hover .image {
    opacity: 0.1;
}
  
.slide:hover .hoverContent {
    opacity: 1;
}

.button {
    fill:white;
    padding: 10px;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    margin: 10px;
    background-color:#111010;
    cursor: pointer;
}

@media screen and (max-width:799px) {
    .slide {
        width: 100%;
    }
}