.item input[type=checkbox] {
    margin: 1%;
    height: 30px;
}

.swit {
    width: 32px;
    height: 32px;
    margin: 1%;
    background-color: red;
    display: inline-block;
}

.item h1 {
    position: absolute;
    font-family: NunitoExtraBold;
    font-size: 24px;
    color: white;
    margin: 1%;
    display: inline-block;
}

.item h2 {
    font-family: NunitoBold;
    font-size: 18px;
    color:white;
    margin: 1%;
    display: inline-block;
}

.inputTitle {
    border-radius: 15px;
    height: 30px;
    margin-bottom: 12px;
    border-radius: 10px;
    background-color: #3a3a3a;
    color: white;
    padding: 0px 13px;
    box-sizing: border-box;
    border-style: none;
    font-family: Nunito;
}

.item {
    width: 98%;
    margin: 1%;
    border-radius: 20px;
    background-color: #202020;
    position: relative;
    padding: 20px;
    box-sizing: border-box;
    display: inline-block;
    overflow: hidden;
}

.item p {
    font-family: Nunito;
    font-size: 14px;
    color: white;
    margin: 1%;
}

.slide {
    width: 31%;
    display: inline-flex;
    margin: 1%;
    position: relative;
    overflow: hidden;
    transition: 0.3s;
    border-radius: 20px;
}

.imageBox {
    width: 100%;
    padding-bottom: 40%;
    height: 0;
}

.slide img {
    height: 100%;
    width: 100%;
    border-radius: 20px;
    position: absolute;
}

.hoverContent {
    transition: 0.3s;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    display: flex;
}

.slide:hover .image {
    opacity: 0.1;
}
  
.slide:hover .hoverContent {
    opacity: 1;
}

.button {
    fill:white;
    padding: 10px;
    width: 30px;
    border-radius: 30px;
    margin: 10px;
    background-color:#111010;
    cursor: pointer;
}

.product {
    width: 100%;
    height: 100px;
    display: flex;
    border-radius: 20px;
    background-color: #111111;
    margin-bottom: 10px;
}

.product img {
    height: 100%;
    border-radius: 20px;
    width: 100px;
    object-fit: cover;
}

.firstInfos {
    padding: 10px;
    box-sizing: border-box;
    overflow: hidden;
}

.product label {
    white-space: nowrap;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden
}

.name {
    font-family: NunitoBold;
    font-size: 18px;
    color:white;
}

.desc {
    font-family: Nunito;
    color: grey;
    font-size: 14px;
}

.price {
    font-family: Nunito;
    color:grey;
    font-size: 16px;
}

.inputId {
    background-color: green;
    display: inline-block;
    border-radius: 6px;
    height: 12px;
    padding: 0 10px;
    color: white;
    font-family: Nunito;
    user-select: none;
    font-size: 10px;
}

.firstInfos input {
    height: 12px;
    border-radius: 6px;
    background-color: #3a3a3a;
    color: grey;
    padding: 0px 6px;
    box-sizing: border-box;
    border-style: none;
    font-family: monospace;
    font-size: 12px;
    display: inline-block;
    position: absolute;
}

.inputIdClicked {
    color:red;
}

.switch {
    --secondary-container: #3a4b39;
    --primary: #84da89;
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 64px;
    height: 32px;
    margin: 1%;
}
   
.switch input {
    display: none;
    opacity: 0;
    width: 0;
    height: 0;
}
   
.switch span {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #583f3f;
    transition: .2s;
    border-radius: 30px;
}

.switch span:before {
    position: absolute;
    content: "";
    border-radius: 20px;
    height: 24px;
    width: 24px;
    margin: 4px;
    background-color: #dda7a7;
    transition: .4s;
}
   
input:checked + .slider::before {
    background-color: #6ba168
}
   
input:checked + .slider {
    background-color: #3a4b39
}

input:checked + .slider:before {
    transform: translateX(1.9em);
}





@media screen and (max-width:799px) {
    .item h1 {
        font-size: 20px;
    }
    .slide {
        width: 100%;
        margin: 10px 0;
    }
}