.sideBar {
    width: 20%;
    height: 100%;
    position: fixed;
    transition: 0.3s;
    background-color: #0e0e0e;
    margin-top: 70px;
}

.sideBarItemIcon {
    width: 20px;
    padding-right: 5px;
    float: left;
    fill:white;
}

.sideBarItem {
    font-family: Nunito;
    color: white;
    font-size: 16px;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 10px;
    width: 94%;
    margin: 3%;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
}

.myaccount {
    position: absolute;
    bottom: 70px;
}

.selected {
    background-color: #3a3a3a;
}

.sideBarItem:hover {
    background-color: #1b1b1b;
}
@media screen and (max-width:799px) {
    .opacityArea {
        width: 100%;
        height: 100%;
        position: fixed;
        background-color: black;
        opacity: 0.3;
        visibility: hidden;
    }
    .opacityAreaOpened {
        visibility: visible;
    }
    .sideBar {
        visibility: hidden;
        width: 0%;
        overflow: hidden;
    }
    .sideBarOpened {
        visibility: visible;
        width: 50%;
    }
    .myaccount {
        bottom: 90px;
    }
}