.sideBarArea {
    background-color: #690202;
    height: 500px;
    width: 15%;
    margin: 2% 0px 2% 2%;
    float: left;
    transition:0.3s;
    border-radius: 20px;
}

@media screen and (max-width:799px){
    
    .sideBarArea {
        visibility: hidden;
        height: 0px;
        float: none;
        min-height: 0px;
        margin: 2% 2% 0% 2%;
        width: 96%;
        border-radius: 20px 20px 0 0;
    }

    .sideBarBoxButton {
        transition: 0.3s;
        margin: 0% 2% 0% 2%;
        border-radius: 20px; 
        background-color: #690202;
    }

    .sideBarButton {
        display: block;
        background-image: url(../images/arrowDown.png);     
        background-repeat: no-repeat;
        background-position: center;
        background-size: 28px;
        transition:0.2s;
        background-color: #000d1c;
        height: 40px;
        border-radius: 20px; 
    }

    .sideBarButtonClicked {
        background-image: url(../images/arrownTop.png);
        border-radius: 0 0 20px 20px;
    }

    .sideBarBarClicked {
        visibility:visible;
        height: 100px;
    }
}