.content {
    background-color: #ebe9e3;
    transition: 0.3s;
    border-radius: 20px;
    width: 70%;
    margin: 2% auto;
    padding: 30px;
    box-sizing: border-box;
    font-size: 0;
}
@media  screen and (max-width:799px) {
    .content {
        width: 96%;
        padding: 10px;
    }
}