<!-- <div class="header">
    <div class="userBar">
        <div class="sideBarButton" onclick="openSideBar()">
            <svg class="svg-icon" viewBox="0 0 20 20">
                <path fill="white" d="M3.314,4.8h13.372c0.41,0,0.743-0.333,0.743-0.743c0-0.41-0.333-0.743-0.743-0.743H3.314
                    c-0.41,0-0.743,0.333-0.743,0.743C2.571,4.467,2.904,4.8,3.314,4.8z M16.686,15.2H3.314c-0.41,0-0.743,0.333-0.743,0.743
                    s0.333,0.743,0.743,0.743h13.372c0.41,0,0.743-0.333,0.743-0.743S17.096,15.2,16.686,15.2z M16.686,9.257H3.314
                    c-0.41,0-0.743,0.333-0.743,0.743s0.333,0.743,0.743,0.743h13.372c0.41,0,0.743-0.333,0.743-0.743S17.096,9.257,16.686,9.257z"></path>
            </svg>
        </div>
        <img id="adminAvatar" class="adminAvatar"  src="">
        <div class="adminNameAndUser">
            <label id="adminName" class="adminName"></label>
            <label id="adminUser" class="adminUser"></label>
        </div>
        <div class="logoutButton" onclick="logout()">
            Sair
        </div>
    </div>
</div> -->

<div class="navbar has-background-black-ter p-2">

    <!-- NAVBAR-BRAND -->
    <div class="navbar-brand">
        <div class="navbar-item is-nunito-extra-bold has-text-light">
            Painel de Administração
        </div>
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <!-- NAVBAR-MENU -->
    <div class="navbar-end">
        <div class="navbar-item has-dropdown is-hoverable">

            <a class="navbar-item has-text-light is-nunito-bold">
                <label class="item" id="admin.name"></label>
            </a>
    
            <div class="navbar-end">
                <div class="navbar-dropdown is-right">
                    <a href="" class="navbar-item">
                        <label class="label">
                            Item
                        </label>
                    </a>
                </div>
            </div>
        </div>
    </div>

</div>

<script type="module" src="./js/pages/header.js"></script>