<div class="sticky-top d-flex flex-column align-items-center align-items-sm-start p-3 text-white min-vh-100">
  <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start w-100" id="menu">
      <li class="nav-item w-100 mb-2">
        <a href="#" class="nav-link pt-2" id="stats">
          <i class="fa fa-home"></i>
          <span class="ms-1 d-none d-sm-inline">Estatísticas</span>
        </a>
      </li>
      
      <li class="nav-item w-100 mb-2">
        <a href="#" class="nav-link pt-2" id="custom">
          <i class="fa fa-pencil"></i>
          <span class="ms-1 d-none d-sm-inline">Customização</span>
        </a>
      </li>

      <li class="nav-item w-100 mb-2">
        <a href="#" class="nav-link pt-2" id="produtos">
          <i class="fa fa-box"></i>
          <span class="ms-1 d-none d-sm-inline">Produtos</span>
        </a>
      </li>

      <li class="nav-item w-100 mb-2">
        <a href="#" class="nav-link pt-2" id="clientes">
          <i class="fa fa-users"></i>
          <span class="ms-1 d-none d-sm-inline">Clientes</span>
        </a>
      </li>

      <li class="nav-item w-100 mb-2">
        <a href="#" class="nav-link pt-2" id="admins">
          <i class="fa fa-user-shield"></i>
          <span class="ms-1 d-none d-sm-inline">Administradores</span>
        </a>
      </li>
  </ul>
  <hr>
  <div class="dropdown">
    <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
        <img src="https://github.com/mdo.png" alt="hugenerd" width="30" height="30" class="rounded-circle">
        <span class="d-none d-sm-inline mx-1 ms-2">Usuário</span>
    </a>
    <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
        <li><a class="dropdown-item" href="#">Minha Conta</a></li>
        <li>
            <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item" href="#">Sair</a></li>
    </ul>
  </div>
</div>

<script src="./js/pages/sidebar2.js"></script>