<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="resources/styles/footer.css" />

<div class="footer">
    <div class="aboutUs">
        <h1 class="FooterTitle">Quem somos</h1>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque laoreet ipsum augue, sed suscipit magna rhoncus eu. Phasellus viverra nec quam vitae lacinia. Aliquam tellus enim, faucibus vel luctus quis, luctus nec nisi.
    </div>
    <div class="socialMedias">    
        <h1 class="FooterTitle">Mídias Sociais</h1>
        <div class="iconsMedias">
            <a href="#" target="_blank" class="fa fa-linkedin fa-lg"></a>
            <a href="#" target="_blank" class="fa fa-github fa-lg"></a>
            <a href="#" target="_blank" class="fa fa-envelope fa-lg"></a>
            <a href="#" target="_blank" class="fa fa-whatsapp fa-lg"></a>
        </div>
    </div>
</div>

<div class="copyright">
    &#169; 2023 <a class="link" target="_blank" href="https://luan004.github.io/">Luan Gabriel</a>. Todos os direitos reservados.
</div>