<div class="card container mb-3">
    <h2 id="titleHightlights" class="mb-3 pt-3"></h2>
    <div class="row pl-2 pr-2">

      <!-- Produto 1 -->
      <div class="col-md-3 col-sm-6 col-6 mb-3">
        <div class="card">
          <a id="product1link" style="width:100%;">
            <img class="card-img-top" id="product1img">
          </a>
          <div class="card-footer">
            <div class="card-body">
              <a href="#" id="product1name" class="d-block card-link text-truncate h6"></a>
              <p id="product1price" class="text-truncate mb-0"></p>
            </div>
          </div> 
        </div>
      </div>

      <!-- Produto 2 -->
      <div class="col-md-3 col-sm-6 col-6 mb-3">
        <div class="card">
          <a id="product2link" style="width:100%;">
            <img class="card-img-top" id="product2img">
          </a>
          <div class="card-footer">
            <div class="card-body">
              <a href="#" id="product2name" class="d-block card-link text-truncate h6"></a>
              <p id="product2price" class="text-truncate mb-0"></p>
            </div>
          </div> 
        </div>
      </div>

      <!-- Produto 3 -->
      <div class="col-md-3 col-sm-6 col-6 mb-3">
        <div class="card">
          <a id="product3link" style="width:100%;">
            <img class="card-img-top" id="product3img">
          </a>
          <div class="card-footer">
            <div class="card-body">
              <a href="#" id="product3name" class="d-block card-link text-truncate h6"></a>
              <p id="product3price" class="text-truncate mb-0"></p>
            </div>
          </div> 
        </div>
      </div>

      <!-- Produto 4 -->
      <div class="col-md-3 col-sm-6 col-6 mb-3">
        <div class="card">
          <a id="product4link" style="width:100%;">
            <img class="card-img-top" id="product4img">
          </a>
          <div class="card-footer">
            <div class="card-body">
              <a href="#" id="product4name" class="d-block card-link text-truncate h6"></a>
              <p id="product4price" class="text-truncate mb-0 h5"></p>
            </div>
          </div> 
        </div>
      </div>

    </div>
</div>
  