
<div class="loginContainer">
    <form id="idLoginForm">
        <label>Usuário</label>
        <input id="user" type="text" placeholder="admin" class="textBox" value="" autocomplete="off" readonly onfocus="this.removeAttribute('readonly');">

        <label>Senha</label>
        <input id="password" type="password" placeholder="123" class="textBox" value="" autocomplete="off" readonly onfocus="this.removeAttribute('readonly');">

        <button class="loginButton" type="submit">Logar</button>
    </form>
</div>