<ul class="nav flex-column nav-pills">
    <li class="nav-item">
        <a class="nav-link" href="#">
            <i class="fa fa-user-edit"></i>
            Minhas Conta
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">
            <i class="fa fa-cart-shopping"></i>
            Carrinho de Compras
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="#">
            <i class="fa fa-box"></i>
            Meus Pedidos
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">
            <i class="fa fa-credit-card"></i>
            Métodos de Pagamento
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">
            <i class="fa fa-gear"></i>
            Configurações
        </a>
    </li>
</ul>

<script>
    
</script>