<ul class="nav flex-column nav-pills">
    <li class="nav-item">
        <a id="myaccount" class="nav-link" href="./user">
            <i class="fa fa-user-edit"></i>
            Minhas Conta
        </a>
    </li>
    <li class="nav-item">
        <a id="cart" class="nav-link" href="#">
            <i class="fa fa-cart-shopping"></i>
            Carrinho de Compras
        </a>
    </li>

    <li class="nav-item">
        <a id="pedidos" class="nav-link" href="#">
            <i class="fa fa-box"></i>
            Meus Pedidos
        </a>
    </li>
    <li class="nav-item">
        <a id="payment" class="nav-link" href="./payment">
            <i class="fa fa-credit-card"></i>
            Métodos de Pagamento
        </a>
    </li>
</ul>

<script type="module" src="js/layout/sidebar.js"></script>