<div class="slideshowBox">
    <div class="slide anim">
        <img title="slide1" class="imge" id="slide1" src="">
    </div>
    <div class="slide anim">
        <img title="slide2" class="imge" id="slide2" src="/tcc/web/resources/images/img2.jpg">
    </div>
    <div class="slide anim">
        <img title="slide3" class="imge" id="slide3" src="/tcc/web/resources/images/img3.jpg">
    </div>
    <div class="dotBox" style="text-align:center">
        <span class="dot" onclick="currentSlide(1)"></span> 
        <span class="dot" onclick="currentSlide(2)"></span> 
        <span class="dot" onclick="currentSlide(3)"></span> 
    </div>
    <a class="leftButton" onclick="plusSlides(-1)"></a>
    <a class="rightButton" onclick="plusSlides(1)"></a>
</div>