<div class="adminInfoContainer">
    <label class="contTitle">Dados da conta</label>
    <div class="infoContainer">
        <div class="firstInfosCont">
            <img id="avat" class="avat"  src="">
            <div class="firstInfos">
                <label class="first" id="nameVal"></label>
                <label class="first" id="idadeVal"></label>
            </div>
        </div>

        <label class="info">Nome de Usuário: <span id="userVal"></span></label>
        <label class="info">CPF: <span id="cpfVal"></span></label>
        <label class="info">Data de Nascimento: <span id="bornVal"></span></label>
    </div>
</div>

<script>
    var user = decryptCookieValue(getCookie('user'));
    var pass = decryptCookieValue(getCookie('pass'));

    firebase.database().ref('admins').orderByChild("user").equalTo(user).once('value').then((snapshot)=>{
    if (snapshot.exists() == false) {
        logout();
    }
        snapshot.forEach(snapshot=>{
        if(snapshot.child("password").val() != pass){
            logout();
        }

        document.getElementById("avat").src = snapshot.child("avatar").val();
        document.getElementById("nameVal").innerHTML = snapshot.child("name").val();
        document.getElementById("idadeVal").innerHTML = calcAge(snapshot.child("bornDate").val()) + ' anos';

        document.getElementById("userVal").innerHTML = snapshot.child("user").val();
        document.getElementById("cpfVal").innerHTML = formatCPF(snapshot.child("cpf").val());
        document.getElementById("bornVal").innerHTML = formatBorn(snapshot.child("bornDate").val());
        })
    })

    function formatBorn(date) {
        const [year, month, day] = date.split("-");
        return `${day}/${month}/${year}`;
    }

    function formatCPF(num) {
        var cpf = num.toString();
        cpf = cpf.padStart(11, '0');
        return cpf.slice(0, 3) + '.' + cpf.slice(3, 6) + '.' + cpf.slice(6, 9) + '-' + cpf.slice(9);
    }

    function calcAge(date) {
        var birthDate = new Date(date);
        var today = new Date();
        var age = today.getFullYear() - birthDate.getFullYear();
        var monthDiff = today.getMonth() - birthDate.getMonth();
        if (monthDiff < 0 || (monthDiff === 0 && today.getDate() < birthDate.getDate())) {
            age--;
        }
        return age;
    }
</script>